body {
  background-color: #8FBC8F;
  color: white;
}
a {
  color: #f3f8f3 ;
}
div {
margin: 1em;
}

.card {

}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300%;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
}