<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>JouleScore®</title>
</head>
<body class="container">
  <div class="alert alert-light" role="alert">
    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for m in messages %}
                <h5>{{m}}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
    <header class="row justify-content-between">
      <div class="col-4">
          <h1>JouleScore®: Add Monthly Data</h1>
      </div>
    </header>
    <main class="d-flex justify-content-center">
        <form action="/createMonth/" method="post">
            <div class="form-group">
              <label for="year">Year</label>
              <input type="text" class="form-control" name="year" placeholder="Year" minlength="4" maxlength="4" required>
            </div>
            <div class="form-group">
                <label for="month">Month</label>
                <input type="text" class="form-control" name="month" placeholder="Month" minlength="2" maxlength="2" required>
              </div>
            <!-- <select class="form-select" name="month" aria-label="Month">
                <option selected>Choose Month:</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select> -->
            <div class="form-group">
                <label for="gas">Natural Gas</label>
                <input type="text" class="form-control" name="gas" placeholder="00" maxlength="50" required>
              </div>
              <div class="form-group">
                <label for="electric">Electricity</label>
                <input type="text" class="form-control" name="electric" placeholder="00" maxlength="50" required>
              </div>
              <div class="form-group">
                <label for="milesDriven">Miles Driven</label>
                <input type="text" class="form-control" name="milesDriven" placeholder="00" maxlength="50" required>
              </div>
            <div><input type="hidden" name="user_id" value="{{session.user_id}}"></div>
            <div><button class="btn btn-primary">Create Month</button></div>
          </form>
    </main>
    <footer>

    </footer>
</body>
</html>